<style>
    #saveandcontinue{
        margin-left: 19px;
    }
 .admin__fieldset > .admin__field > .admin__field-control {
    float: left;
    margin-left: 30px;
    margin-top: 18px;
    width: calc(100% * 0.444444 - 30px);
    }
.admin__field:not(.admin__field-option) > .admin__field-label {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 5.2rem;
    padding: 0;
    white-space: nowrap;
    word-wrap: break-word;
  }
  ._required > .admin__field-label span::after {
     color: #eb5202;
     content: "*";
     display: inline-block;
     font-size: 1.6rem;
     font-weight: 500;
     line-height: 2;
     margin-left: 10px;
     position: absolute;
     top: 1.2rem;
     z-index: 1;
}
</style>
<script>
	require([
    'jquery',
    'jquery/ui'
],
function(jQuery){
 jQuery('#saveitem').click(function(){
   jQuery('#edit_form').submit();
 });
jQuery('#collapse').click(function() {
      jQuery('.dd').nestable('collapseAll');
});
jQuery(".dd a").on("mousedown", function(event) {
    event.preventDefault();
    return false;
});

jQuery(".dd accept a").on("click", function(event) {
    event.preventDefault();
    window.location = jQuery(this).attr("href");
    return false;
});

jQuery('#expand').click(function() {
      jQuery('.dd').nestable('expandAll');
    });
varienMenuItem = {
    displayStartedLevel:function(){
        jQuery("#started").slideToggle();
       }
    }
});
</script>
